<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock-Paper-Scissors</title>
</head>
<body>
    <header>
        <h1>Rock-Paper-Scissors New Edition</h1>
    </header>
    <main>
    <button onclick="window.location.reload()">Start Game</button>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
    </main>
    <footer>
        <div>
            <a href="https://github.com/ngozi89" target="_blank" aria-label="Ngozi Omenka GitHub Profile (opens in a new tab)"> <i
                class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/ngozi-omenka-90236b273/" target="_blank" aria-label="Ngozi Omenka LinkedIn profile (opens in a new tab)"><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
    </footer>
</body>
</html>